.App {
  text-align: center;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid rgb( 221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);

}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 10;
  position: absolute;
  transition: 0.2;
  width:  20px;
}

.dark-mode_toggle {
  background: peachpuff;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggled {
  left: 25px;
}

.dark-mode{
  background-color: black;
  color: white;
}